
      <header class="flex justify-between text-2xl py-8 border-b-2 border-blue-100 mb-8">
          <a [routerLink]="['']">CoinCatalog</a>
          <ul class="flex justify-between">
              <!-- <li class="ml-8"><a [routerLink]="['']" (click)="logout()">Sign out</a></li> -->
              <!-- <li class="ml-8"><a [routerLink]="['']" (click)="login()">Sign in</a></li> -->
              <!-- <li class="ml-8"><a [routerLink]="['']">Sign up</a></li> -->
              <!-- <li class="ml-8"><a [routerLink]="['']">Contact</a></li> -->
          </ul>
      </header> 