
      <header class="flex justify-between text-2xl py-8 border-b-2 border-blue-100 mb-8">
          <a [routerLink]="['']">СoinСatalog</a>
          <ul class="flex justify-between">
              <li class="ml-8"><a [routerLink]="['']">Login</a></li>
              <li class="ml-8"><a [routerLink]="['']">Logout</a></li>
              <li class="ml-8"><a [routerLink]="['']">Creat</a></li>
              <!-- <li class="ml-8"><a [routerLink]="['']">Contact</a></li> -->
          </ul>
      </header> 