<div class="grid grid-cols-7">
    <div class="col-start-1 col-span-1">
        <select (ngModelChange)="onChange($event)" style="outline: none;" class="border hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5" type="button"
            [(ngModel)]="constatadataChart">
            <option *ngFor="let method of contactMethods" [value]="method.id">{{ method.label }}</option>
        </select>
    </div>
    <div class="col-start-3 col-span-3">
        <ul class="flex flex-wrap items-center justify-center mb-6 text-gray-900 dark:text-white">
            <li class="mr-4 md:mr-6 cursor-pointer" *ngFor="let method of contactMethods" [value]="method.id" (click)="t(method.id)" >{{ method.label }}</li>
        </ul>
    </div>
</div>

<div>
    <canvas id="myChart"></canvas>
</div>
